
.pic {
	border: 0px solid red;
	max-width: 90%;
	max-height: 80vh;
}


.person_page_table {
    border: 0px solid red;
    width: 100%;
}

.person_page_pictures {
    width: 50%;
    text-align: center;

}

.person_page_data {
    width: 50%;
    vertical-align: top;
    
}

.footer {
    color: lightgray;
}

.treepanel {
    /* border: 1px solid black; */
    border-right: 5px solid blue;
}